<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PersonalCheff</title>
</head>
<body>
    <h1>PersonalCheff</h1>
    <h2>Receita de bolo de cenoura</h2>
    <h3>Modo de preparo</h3>
    <ul>
        <li>Adicione os ingredientes necessários</li>
        <li>Bata tudo</li>
        <li>Asse a 240 graus celsius e sirva como preferir</li>
    </ul>
</body>
</html>