{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'partials/header.html' %}

    <table border="1" class="tabela-receitas">
        <tr>
            <th>Receita</th>
            <th>Vídeo</th>
            <th>Ações</th>
        </tr>
        <tr>
            <td>
               <img src="{% static 'suco.png' %}" class="icone-suco">
                Suco de laranja
            </td>
            <td>https://www.youtube.com/watch?v=Nn9140bDPnc</td>
            <td><a href="{% url 'sucodelaranja' %}">Ver receita completa</a></td>
        </tr>
        <tr>
            <td>
                <img src="{% static 'suco.png' %}" class="icone-suco">
                Suco de limão
            </td>
            <td>https://www.youtube.com/watch?v=9QUhRXEBY8o</td>
            <td><a href="{% url 'sucodelimao' %}">Ver receita completa</a></td>
        </tr>
        <tr>
            <td>
                <img src="{% static 'suco.png' %}" class="icone-suco">
                Bolo de cenoura
            </td>
            <td>https://www.tudogostoso.com.br/receita/23-bolo-de-cenoura.html</td>
            <td><a href="{% url 'bolodecenoura' %}">Ver receita completa</a></td>
        </tr>
    </table>
{% include 'partials/footer.html' %}    
{% endblock %}