body{
        background-color: rgb(244, 252, 133);
        color: rgb(0, 0, 0);
        font-family: 'Segoe UI';
}

.imagem-logo{
    width: 150px;
}

.tabela-receitas{
    width: 90%;
    margin: 0 auto; 
}

.icone-suco{
    height: 20px;
}